* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Body {
  width: 100%;
  height: 100vh;
  background-color: rgb(123, 164, 200);
  display: flex;
  justify-content: center;
}
.cantainerBox {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 40px;
}

.cantainerBox .boxitem {
  background: white;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0px 12px white;
  overflow: hidden;
  transition: 0.3s;
  max-height: 350px;
}

.cantainerBox .boxitem:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 18 white;
}

.cantainerBox .boxitem img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.cantainerBox .boxitem h3 {
  margin: 15px;
}
